<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Tienda Generica</title>
		<style>
			h1{
				text-align: center;
			}
			div{
				text-align: center;
			}
			
		</style>
		
	</head>
	<body>
		<br>
		<br>
		<br>
		<h1>Bienvenidos a la Tienda Genérica</h1>
	
		<br>
		<div>
			<form action="validador">
				Usuario: <input type="text" name="usuario"><br>
				Password: <input type="password" name="password"><br><br>
				<input type="submit" value="Aceptar">
				<button>Cancelar</button>
			</form> 	
		</div>
		
	</body>
</html>
